<div class="bg-light vh-100 py-5">
  <form class="col-sm-7 mx-auto bg-white rounded p-3 shadow" quickv>
    <h3>
      Testing <a href="https://github.com/quick-v/quickv">Quickv</a> in Angular
    </h3>
    <div class="row mb-2">
      <div class="col">
        <div class="">
          <label class="form-label">First name</label>
          <input
            name="first_name"
            qv-rules="required|startWithUpper|minlength:2|maxlength:32"
            type="text"
            class="form-control"
            placeholder="required|startWithUpper|minlength:2|maxlength:32"
          />
          <div class="invalid-feedback" qv-feedback="first_name"></div>
        </div>
      </div>
      <div class="col">
        <div class="">
          <label class="form-label">Age</label>
          <input
            name="age"
            qv-rules="required|int|min:18|max:35"
            type="text"
            class="form-control"
            placeholder="required|int|min:18|max:35"
          />
          <div class="invalid-feedback" qv-feedback="age"></div>
        </div>
      </div>
    </div>

    <!-- Text input -->
    <div class="mb-2">
      <label class="form-label">Company name</label>
      <input
        type="text"
        name="company"
        qv-rules="required|startWith:@|minlength:3|maxlength:20"
        class="form-control"
      />
      <div class="invalid-feedback" qv-feedback="company"></div>
    </div>

    <!-- Text input -->
    <div class="mb-2">
      <label class="form-label">Cv</label>
      <input
        type="file"
        name="cv"
        qv-rules="required|file|maxFileSize:3MB|minFileSize:1MB"
        class="form-control"
      />
      <div class="invalid-feedback" qv-feedback="cv"></div>
    </div>

    <button type="submit" qv-submit class="btn btn-primary btn-block mb-2">
      Submit
    </button>
  </form>
  <div class="text-center mt-3">
    <a href="https://github.com/Claudye/ng-quickv">
      Source code is availlable on GitHub</a
    >
  </div>
</div>
